<%= form_for([@user,@house,@room,@wall]) do |form| %>
  <% if @wall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wall.errors.count, "error") %> prohibited this wall from being saved:</h2>

      <ul>
      <% wall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
