<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<h2>Houses</h2>
<% for @house in @user.houses %>
    <ul>
      <li><%= @house.name %></li>
  </ul>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
